#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} -s [OR]
#RewriteCond %{REQUEST_FILENAME} -l [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^.*$ - [NC,L]
#RewriteRule ^.*$ index.php [NC,L]



#RewriteEngine On
#RewriteRule ^\.htaccess$ - [F]
#RewriteCond %{REQUEST_URI} =""
#RewriteRule ^.*$ /public/index.php [NC,L]
#RewriteCond %{REQUEST_URI} !^/public.*$
#RewriteRule ^(.*)$ /public/$1
#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^.*$ - [NC,L]
#RewriteRule ^public/.*$ /public/index.php [NC,L]


RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !^.*\.(wsdl|swf|zip|rar|doc|xls|csv|pdf|html|xml|css|js|gif|png|jpg|jpeg)$
RewriteRule ^.*$ - [NC,L]
RewriteRule !\.(php|wsdl|swf|js|ico|gif|jpg|png|css|doc|xls|csv|pdf|zip|rar)$ index.php




#RewriteCond %{REQUEST_URI} !^?pwd=10$
#RewriteCond %{REQUEST_URI} !^$
#RewriteRule ^.*$ / [L]

