@CHARSET "UTF-8";

#wraper{ position: relative; z-index:999;}
.subnav{ height:41px; margin-bottom:12px;}
.subnav .subnav_t{ float:left;width:164px; height:41px;}
.subnav .subnav_c{ float:left;width:796px; height:31px; background: url(/img/default/lp/zh_CN/subnav_t_corbg.gif) no-repeat left top;padding-top:10px;}

ul.dropdown{ position: relative; width: 100%; background-color:#e4f2f5;width:796px; height:31px;}
ul.dropdown li {font-size:14px;float: left;background: url(/img/default/lp/zh_CN/subnav_off.gif) no-repeat right bottom; position: relative;height:31px;}
ul.dropdown .on{background: url(/img/default/lp/zh_CN/subnav_on.jpg) repeat-x;color: #FFF;}
ul.dropdown a:hover	{ color: #006699; }
ul.dropdown li a{float:left; display: block; padding-left:20px;padding-right:20px; color: #006699; position: relative; z-index: 2000;height:25px;padding-top:6px;}
ul.dropdown li a:hover,ul.dropdown li a.hover{ background: url(/img/default/lp/zh_CN/subnav_on.jpg) repeat-x; position: relative;text-decoration:none;color: #FFF;}
/* 
	LEVEL TWO
*/
ul.dropdown ul{ display: none; position: absolute; top: 0; left: 0; width: 156px; z-index: 1000;}
ul.dropdown ul li{ font-weight: normal; background: #c5e3f2; color: #006699;  width: 156px;}
ul.dropdown ul li a{width: 156px; display: block; background: #c5e3f2 !important; color:#006699;} 
ul.dropdown ul li a:link{color:#006699;text-decoration:none;}
ul.dropdown ul li a:visited{color:#006699; text-decoration:none;}
ul.dropdown ul li a:hover{ display: block; background: #edf7fc !important; color:#006699;}


.con_faren_center{ width:920px; margin:0 auto;}
.con_faren_center .news_note_num{ background:#f7f7ff url(/img/default/lp/zh_CN/icon_email.jpg) no-repeat 40px 8px; padding:10px; padding-left:80px; font-size:14px; font-weight:bold; color:#006699; border:1px solid #e6e6f4; margin-bottom:20px;}
.con_faren_center .note_t{ font-size:14px; color:#006699; line-height:40px;}
.con_faren_center .note_t .count_info{ float:right;font-size:12px; font-weight:normal;}
.tab_info{ margin-bottom:20px; border-top:1px solid #e6e6f4;border-left:1px solid #e6e6f4;}
.tab_info td{ padding-left:10px; padding-right:10px;line-height:30px;border-right:1px solid #e6e6f4;border-bottom:1px solid #e6e6f4;padding-top:3px;padding-bottom:3px;}
.tab_info td .btn_bg{ float:right; margin-right:240px; display:inline;width:76px; height:24px; line-height:24px; text-align:center;font-size:12px; background:url(/img/default/front/zh_CN/btn_bg.jpg); margin-top:3px; overflow:hidden;}
.tab_info td .btn_bg a{ color:#333333; text-decoration:none;display:block;width:76px; height:24px; }
.tab_info td .input_select{ width:80px;}

/*float div*/

.floatdiv{border:3px solid #bdbdbd; padding:10px; width:460px; position:fixed; background-color:#FFFFFF; left:50%; margin-left:-230px; bottom:0;}
.floatdiv_t{ height:35px; line-height:35px; border-bottom:1px dashed #cdcdcd; color:#006699; padding-left:10px; padding-right:10px; font-size:14px;}
.mould1{ background:url(/img/default/lp/zh_CN/mould_t.jpg) no-repeat 10px 5px; font-size:12px; font-weight:normal;padding-left:80px; color:##666666;}
.mould2{ background:url(/img/default/lp/zh_CN/mould_t.jpg) no-repeat 10px -38px; font-size:12px; font-weight:normal;padding-left:80px;color:##666666;}
.floatdiv .conU{ line-height:24px;}
.floatdiv .mytextarea{width:380px; height:48px;padding:10px; border:1px solid #cccccc;}

/*notice*/
.notice_t{ background:url(/img/default/lp/zh_CN/icon_email.jpg) no-repeat 6px 8px; height:40px; line-height:40px; padding-left:40px; font-size:14px; font-weight:bold; color:#006699;}
.tab_msg th{ line-height:30px; padding-left:10px; padding-right:10px; background-color:#dcdbd9;}
.tab_msg tr.new{ background-color:#e3f9e3;}
.tab_msg tr.readed{ background-color:#FFFFFF;}
.tab_msg td{ line-height:30px; padding-left:10px; padding-right:10px;}
.notice_os{ float:right; font-size:12px; font-weight:normal; color:#333333;}
.notice_os img{ vertical-align:middle; margin-left:20px;}

.msg_title{ font-size:14px; color:#006699; line-height:40px; }

.msg_title .case_num{ float:right; font-size:12px;color:#FF0000; margin-right:10PX; display:inline; font-weight:normal;}

.msg_title_bg{ font-size:14px; color:#006699; line-height:26px; background:#f1ebeb url(/img/default/front/zh_CN/title_bg.jpg) no-repeat left top; margin-bottom:10px; padding-left:15px;}
.notice_con{ padding:10px;}
.notice_con .caseid{ float:right;color:#FF0000; padding-right:10px; font-weight:bold;}
.notice_con .myinput{ height:20px; border:1px solid #7f9db9;}
.w200{width:200px;}

/*resume*/
.shuiying{ background: url(/img/default/usr/zh_CN/bg_preview_rsm.png) repeat-y center 120px;}
.day_num{ background-color:#ffcc99;}
.resume{ border:2px solid #000000; padding:10px; background-color:#d9ffff; margin-bottom:10px;}
.resume h3{ font-size:14px; line-height:24px;}
.resume_t{ height:45px; line-height:45px; text-align:center; font-size:16px; font-weight:bold;position:relative; z-index:998;}
.resume_t_little{height:30px; line-height:30px; font-size:14px; font-weight:bold;}
.resume_date{ position:absolute; margin-top:-40px; width:200px; z-index:999; right:0; text-align:left; font-size:12px; font-weight:normal; color:#333333; line-height:20px;}
.resume_note{line-height:30px; margin-bottom:10px; padding-left:10px;}
.resume_base_info{ border:1px solid #000000;margin-bottom:10px;}
.tab_resume{border-left:1px solid #000000;border-top:1px solid #000000;}
.tab_resume td,.tab_resume th{ line-height:24px;border-right:1px solid #000000;border-bottom:1px solid #000000; }
.tab_resume th{text-align:center;}
.line-dot{ border-right:1px dashed #666666!important;}
.tab_disc td,.tab_disc th{border:0!important;padding-left:5px;}

.resume_base_info .myinput{ height:18px; line-height:18px; border:1px solid #7f9db9; padding-left:2px; padding-right:2px; margin:2px;}
.resume_base_info .myinput_w76{ width:76px;height:18px; line-height:18px;}

.resume_base_info .myinput_center{ height:18px; line-height:18px; border:1px solid #7f9db9;}
.resume_base_info .input_select{ width:80px;margin:2px;}
.resume_base_info .select_w76{ width:76px;}
.resume_base_info .input_select_zg{ width:50px;margin:2px;}
.resume_base_info .mytextarea{width:98%; height:80px;border:1px solid #7f9db9; margin:2px;}
.w150{ width:150px;}

.resume_base_info .select_w38{ width:38px;}
.tab_resume .w86{ width:86px;}
.tab_resume02 td{ line-height:24px;}
.tab_resume03{border-left:1px solid #000000;border-top:1px solid #000000;}
.tab_resume03 td,.tab_resume03 th{ line-height:24px;border-right:1px solid #000000;border-bottom:1px solid #000000;}
.tab_resume03 td{ line-height:14px;}
.tab_resume03 .w30{ width:30px;}
.tab_resume03 .w220{ width:220px;}
.tab_resume03 .myinput_w220{width:220px; height:70px;}
.tab_resume03 .myinput_w238{width:238px; height:70px;}
.tab_resume03 .myinput_w80{width:80px; height:70px;}
.tab_resume03 .all_time{ background-color:#ffcc99; text-align:center;}
.tab_resume03 .line24{ line-height:24px;}

.add_resum_stept3{right:0;top:0;height:45px; line-height:45px; text-align:right; padding-right:10px; position:absolute;}
.resume_base_info .myinput_w100{width:100px; height:18px; line-height:18px; border:1px solid #7f9db9;}

.resume_base_info .else_detail{ width:452px; height:100px; margin:5px; padding:10px; color:#999999;}

.search_t_con{ height:40px; line-height:40px; background:url(/img/default/lp/zh_CN/icon_search.gif) no-repeat 10px 5px; padding-left:50px; margin-bottom:10px;}
.search_t_con .myselect{width:110px; height:20px; line-height:20px; margin-right:5px;}
.search_t_con .myinput{width:260px; height:20px; line-height:20px;}

.search_result_lie01{ border-top:1px solid #dddddd;}
#tab_lie01 th{line-height:36PX; color:#101177;}
#tab_lie01 td{ line-height:36px;}
#tab_lie01 td a{ margin-left:5px;}

/*感兴趣案件列*/
#tab1{height:34px;}
#tab1 ul{height:34px;padding-left:20px; background:url(/img/default/lp/zh_CN/scroll_linebg.gif) repeat-x bottom;}
#tab1 li{float:left;text-align:center;width:180px;font-size:14px;cursor:pointer;margin-right:10px; background-color:#efefef; border:1px solid #e2e2e2; height:32px; line-height:32px; color:#006699;}
#tab1 li.now{cursor:pointer;font-weight:bold; background-color:#fcfcfc;border:1px solid #e2e2e2; border-bottom:1px solid #fcfcfc; color:#ff3300;}
.tablist{display:none;}
.block{display:block; }

.case_search{ height:36px; background:url(/img/default/lp/zh_CN/searchbg.jpg) repeat-x top; padding-top:8px; padding-bottom:8px; padding-left:20px; margin-bottom:10px;}
.case_search .icon_search{ margin-right:10px; vertical-align:middle;}
.case_search .myinput{width:260px; height:20px; line-height:20px;}
.case_search .search_left{ float:left;width:600px;height:36px; line-height:36px;}
.case_search .search_right{ float:right; width:180px;height:36px; line-height:36px; margin-right:10px; display:inline;}
.case_search .search_right .case_lie_list{float:right;display:block; background:url(/img/default/front/zh_CN/list_show_bg.jpg) no-repeat left top; height:21px; width:76px; overflow:hidden; margin-top:6px; text-indent:-999em;}
.case_search .search_right .case_lie_list a{display:block;height:21px; width:76px;}
.case_search .search_right .case_lie{float:right;display:block; background:url(/img/default/front/zh_CN/list_show_bg.jpg) no-repeat 0 -21px; height:21px; width:76px; overflow:hidden; margin-top:6px; text-indent:-999em;}
.case_search .search_right .case_lie a{display:block;height:21px; width:76px;}

.tab_search_list{ background:url(/img/default/front/zh_CN/bg_space_36.gif) repeat;}
.tab_search_list th{line-height:35PX; color:#101177; padding-left:10px; padding-right:10px; border-bottom:1px solid #dddddd;}
.tab_search_list td{ line-height:36px;padding-left:10px; padding-right:10px;}
.tab_search_list td a{ margin-left:5px;}

.case_search_expand{ border:1px solid #e8e8e8; margin-top:-1px;}
.case_search_expand .case_lie02_t{ background-color:#f8f8f8; padding-left:20px; padding-right:20px; height:40px; line-height:40px; font-size:14px; color:#101177;}
.case_search_expand .case_lie02_time{background-color:#f8f8f8; padding-left:20px; height:35px;}
.case_search_expand .case_lie02_time li{ float:left; height:35px; line-height:35px; margin-right:50px; display:block; color:#666666;}

.case_search_expand .case_lie02_t .skim_num{ float:right; font-weight:normal; color:#ff6600;}
.case_search_expand .case_lie02_con{ padding:20px;}
.tab_case_search_lie02 td{line-height:24px;}

.case_name{ font-weight:bold; color:#006699;}
.cancel_select{width:110px; height:20px; line-height:20px; margin-right:5px;}
.cancel_input{width:200px; height:20px; line-height:20px; margin-right:5px;}

.tab_case_list th{line-height:40px; color:#101177; font-weight:normal;}
.tab_case_list td{ line-height:36px;}
.tab_case_list td a{ margin-left:5px;}

.tab_case_status th{line-height:40px; color:#101177; font-weight:normal;}
.tab_case_status td{ line-height:36px;}
.tab_case_status td a{ text-decoration:underline;}
.tab_case_status .w40{ width:40px;}
.tab_case_status .w48{ width:48px;}
.tab_title td{ line-height:15px;}

/**/
.search_term{ height:34px; line-height:34px; border:1px solid #e3e3e3; margin-bottom:10px; padding-left:10px; padding-right:10px;}
.search_term .term{ margin-left:200px;}
.search_term .case_lie{ float:right; display:block; background:url(/img/default/front/zh_CN/list_show_bg.jpg) no-repeat 0 -21px; height:21px; width:76px; overflow:hidden; margin-top:6px; text-indent:-999em;}
.search_term .case_lie a{display:block;height:21px; width:76px;}

.tab_user_list td{ line-height:30px;}
.tab_user_list td .marR{ margin-right:10PX;}

/*法人提案*/
.con_send_mail{background-color:#f8f8f8;padding:10px; margin-bottom:10px;}
.tab_send_mail td{ line-height:30px;}
.tab_send_mail .myinput{width:410px;height:20px; line-height:20px;}
.con_send_mytextarea{ width:760px; height:380px; border:1px solid #96aec4; padding-left:100px;padding-right:100px; padding-top:20px;padding-bottom:20px;overflow-x:auto;}
.con_send_mytextarea .item{zoom:1; line-height:24px; font-size:14px; margin-bottom:10px;}
.con_send_mytextarea .info_t{float:left;width:60px; text-align:right; color:#006699;font-size:14px; font-weight:bold;}
.con_send_mytextarea .info_c{margin-left:60px;line-height:24px;font-size:12px;}

/*法人员工检索页面*/
.c_case_search{ border:1px solid #b7b7b7; padding-top:10px;}
.case_search_title{border-top:1px solid #b7b7b7; height:24px; line-height:24px; background:#eeeeee url(/img/default/front/zh_CN/search_cbg.gif) no-repeat left bottom; padding-bottom:11px; font-size:14px; padding-left:30px; font-weight:normal;}
.case_search_con{padding-left:10px; padding-bottom:10px;}
.tab_case_search td{ height:30px; line-height:30px;font-weight:bold; color:#006699;}
.tab_case_search td input{margin-right:5px;}
.tab_case_search td .number{ font-weight:normal; color:#333333;}
.c_case_search .w01{ width:479px;border-right:1px solid #b7b7b7;}
.c_case_search .w02{ width:478px; }
.c_case_search .w03{ width:391px;border-right:1px solid #b7b7b7;}
.c_case_search .w04{ width:291px;}
.c_case_search .select_year{ width:60px; border:1px solid #8ba6bf;}
.case_search_con .select_w60{ width:60px;}
.case_search_con .select_w160{ width:160px;}
.case_search_con .myinput_w360{ width:360px;border:1px solid #7e9db9; height:20px; line-height:20px;}

.address_t{padding-left:10px;background:url(/img/default/front/zh_CN/linex.gif) repeat-x bottom;}
.address_con{ background:#f1faff url(/img/default/lp/zh_CN/linex.gif) repeat-x bottom; padding-left:30px; border-bottom:1px dashed #f1faff;line-height:30px;}
.linx_b{ background:url(/img/default/front/zh_CN/linex.gif) repeat-x bottom;}
.linx_t{ background:url(/img/default/front/zh_CN/linex.gif) repeat-x top;}
.search_input_time{ width:164px; height:22px; line-height:22px; margin-bottom:5px; margin-right:10px; margin-top:5px;}
.case_search_lie{padding:10px;border-top:1px solid #b7b7b7;}

.btn_search{ height:47px; background-color:#eeeeee; text-align:center; padding-top:10px; border-top:1px solid #b7b7b7; margin-top:-2px;}

.btn_button{ background:url(/img/default/front/zh_CN/btn_bg_w80.gif); width:80px; height:30px; line-height:30px;}
.tab_info_set td{ line-height:18px; padding-left:0; padding-right:0;}

/*apply*/
.faren-apply_detail{ margin-bottom:10px;}
.faren-apply_detail .case_lie02_t{ background-color:#f8f8f8; padding-left:20px; padding-right:20px; height:40px; line-height:40px; font-size:14px; color:#101177;}
.faren-apply_detail .case_lie02_time{background-color:#f8f8f8; padding-left:20px; height:35px;}
.faren-apply_detail .case_lie02_time li{ float:left; height:35px; line-height:35px; margin-right:50px; display:block; color:#666666;}

.faren-apply_detail .case_lie02_t .skim_num{ float:right; font-weight:normal; color:#ff6600;}
.faren-apply_detail .case_lie02_con{ padding:20px;}

.tab_apply_info td{ font-size:14px; line-height:36px;}
.apply_t{ background-color:#d0e8f4; height:32px; line-height:32px; font-size:14px; padding-left:10px; padding-right:10px; color:#006699;}

#tab2{height:42px; border:1px solid #ccc; border-bottom:0; background:url(/img/default/lp/zh_CN/apply_scroll_bg.jpg) repeat-x;}
#tab2 ul{height:42px;padding-left:20px; padding-top:12px;}
#tab2 li{float:left;text-align:center;width:160px;font-size:14px;cursor:pointer;height:30px; line-height:30px; background: url(/img/default/lp/zh_CN/apply_scroll_off.gif) no-repeat right 8px;}
#tab2 li.now{cursor:pointer;background:#FFF ;border:1px solid #cccccc; color:#101177; border-bottom:1PX solid #ffffff; height:28px; font-weight:bold; margin-left:-1px; display:inline;}
#tab2 li.now .fnum{ font-weight:normal;}

#tablist2{ padding:15px; border:1px solid #cccccc; border-top:0;}

/*close case*/
.tab_close_case td{ line-height:24px; padding-left:10px; padding-right:10px;}

/*edit case*/
.tab_edit_case td,.tab_edit_case th{padding:5px 10px;}
.tab_item td{padding:0; line-height:30px;}
.tab_edit_case .myinput{ border:1px solid #7f9db9; height:18px; line-height:18px;}
.tab_edit_case .myselect{ border:1px solid #7f9db9; height:20px; line-height:20px;width:120px;}
.tab_edit_case .mytextarea{ border:1px solid #7f9db9;width:580px;height:80px;}

/*case del*/
.tab_del th{ line-height:30px; padding-left:10px; padding-right:10px; background-color:#f2f2f2;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.tab_del td{ line-height:30px; padding-left:10px; padding-right:10px;border-bottom:1px solid #dddddd;}


/*faren-register*/
.faren_register_c{ border:1px solid #e5e5e5; padding:20px 100px;}
.item{ zoom:1; overflow:hidden;}
.item .input_t{ float:left; width:200px; text-align:right; height:36px; line-height:36px;}
.item .input_c{float:left; margin-right:10px; border:1px solid #95adc5; height:24px; line-height:24px; padding-left:5px; padding-right:5px;}
.w200{width:200px;}
.w80{ width:80px;}
.item .input_msg{float:left; margin-right:10px; border:1px solid #95adc5; height:160px; width:300px; margin-bottom:10px;}

.item .input_info_ok{background:url(/img/default/front/zh_CN/icon_error.gif) no-repeat 0px 5px;padding-left:20px;padding-top:6px; line-height:24px; padding-bottom:6px; color:#999999;}
.item .input_info_error{background:url(/img/default/front/zh_CN/icon_error.gif) no-repeat 0px -38px;padding-left:20px;padding-top:6px; line-height:24px; padding-bottom:6px; color:#999999;}
.item .input_info_note{background:url(/img/default/front/zh_CN/icon_error.gif) no-repeat 0px -80px;padding-left:20px;padding-top:6px; line-height:24px; padding-bottom:6px; color:#999999;}

/*recommdation*/
.recommdation_info{ float:left;width:600px;}
.recommdation_info dt{ height:30px; line-height:30px; font-weight:bold;}
.recommdation_info dd{ line-height:24px; background:url(/img/default/front/zh_CN/dot.gif) no-repeat 0px -87px; padding-left:15px;}
.recommdation_set{ float:right;width:300px;border:1px solid #dadada; padding-bottom:5px;} 
.recommdation_set h4{ background-color:#dadada; height:20px; line-height:20px; padding-left:10px; padding-right:10px; margin-bottom:5px;}
.recommdation_set h4.money{ float:right; font-weight:normal;}
.recommdation_set .item{zoom:1; line-height:30px;}
.recommdation_set .item .mytitle{float:left;width:75px; text-align:right;}
.recommdation_set .item .myinput{ height:18px; line-height:18px; border:1px solid #7f9db9; width:100px; margin-right:5px;}

.tab_recommdation th{ background-color:#f2f2f2; border-top:1px solid #dddddd;border-bottom:1px solid #dddddd; height:22px; line-height:22px;}
.tab_recommdation td{border-bottom:1px solid #dddddd;line-height:18px; padding-top:5px; padding-bottom:5px;}

.btn_v_center{ margin-right:10px; margin-top:2px; vertical-align: middle;}

.rujin_info_search{ height:30px; margin-bottom:10px;}
.rujin_info_search ul li{ float:left; margin-right:5px; display:inline; line-height:30px;font-weight:bold;white-space:nowrap;}
.rujin_info_search ul li .myinput{height:18px; border:1px solid #7f9db9;width:140px; margin-top:5px;}
.rujin_info_search ul li.w01{ width:50px; text-align:right;}
.rujin_info_search ul li.w02{ width:150px; text-align: center;}
.rujin_info_search ul li .myselect{height:20px; border:1px solid #7f9db9;width:140px;}


/*los add for interview result inform begin*/
.t_top{ background:#f1ebeb url(/img/default/front/zh_CN/title_bg.jpg) no-repeat left top; height:26px; line-height:26px; font-size:14px; color:#006699; padding-left:20px; margin-bottom:10px;}
.apply_detail{ margin-bottom:10px;}
.apply_detail .case_lie02_t{ background-color:#f8f8f8; padding-left:20px; padding-right:20px; height:40px; line-height:40px; font-size:14px; color:#101177;}
.apply_detail .case_lie02_time{background-color:#f8f8f8; padding-left:20px; height:35px;}
.apply_detail .case_lie02_time li{ float:left; height:35px; line-height:35px; margin-right:50px; display:block; color:#666666;}
.apply_detail .case_lie02_con{ padding:20px;}
.myselect_result{ border:1px solid #7f9db9; height:20px; line-height:20px;width:60px;}
.myselect_account{ border:1px solid #7f9db9; height:20px; line-height:20px;width:100px;}

.tab_judge{ background:url(/img/default/front/zh_CN/bg1_space_36.gif) repeat;}
.tab_judge th{line-height:36PX; color:#101177; padding-left:10px; padding-right:10px; border-top:1px solid #dddddd;}
.tab_judge td{line-height:36px;padding-left:10px; padding-right:10px;}
.tab_judge .myselect{ border:1px solid #7f9db9; height:20px; line-height:20px;width:120px;}
.tab_judge .myselect_result{ border:1px solid #7f9db9; height:20px; line-height:20px;width:60px;}
.tab_judge .myselect_account{ border:1px solid #7f9db9; height:20px; line-height:20px;width:100px;}

.tab_judge .myinput{ height:18px; line-height:18px; border:1px solid #7f9db9; width:160px; margin-right:5px;}
.tab_judge .myinput_account{ height:18px; line-height:18px; border:1px solid #f0f0f0; width:100px; margin-right:5px;}
.tab_judge .myinput_baseinfo{ height:18px; line-height:18px; border:1px solid #7f9db9; width:100px;}
.judge_t{ background-color:#d0e8f4; height:32px; line-height:32px; font-size:14px; padding-left:10px; padding-right:10px; color:#006699;}
.interview_info td{ font-size:14px; line-height:36px;}

.tab_login td,.tab_login th{ padding:5px;}
.tab_login .myinput{ height:18px; line-height:18px; border:1px solid #7f9db9; padding-left:2px; padding-right:2px; margin:2px;}
.tab_login .input_info_ok{background:url(/img/default/front/zh_CN/icon_error.gif) no-repeat 0px 5px;padding-left:20px;padding-top:6px; line-height:24px; padding-bottom:6px; color:#999999;}
.tab_login .input_info_error{background:url(/img/default/front/zh_CN/icon_error.gif) no-repeat 0px -38px;padding-left:20px;padding-top:6px; line-height:24px; padding-bottom:6px; color:#999999;}
.tab_login .input_info_note{background:url(/img/default/front/zh_CN/icon_error.gif) no-repeat 0px -80px;padding-left:20px;padding-top:6px; line-height:24px; padding-bottom:6px; color:#999999;}

/*los add for interview result inform end*/


.btn_submit{ text-align:center;padding-top:10px;padding-bottom:10px;}